header{
    background-image: url("bg.jpg");
    height: 200px;
    padding: 20px 0;
}

.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

.logo-header{
    padding: 5px;
    margin: 5px;
    width: 400px;
}

nav{
    position: absolute;
    top: 100px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 22px;
    text-decoration: none;
}

nav a{
    transition: 1s;
}

nav a:hover{
    color: #FFD000;
    font-size: 23px;
}

main{
    width: 940px;
    margin: 40px;
}

footer{
	text-align: center;
	background-image: url("bg.jpg");
	height: 200px;
	padding: 20px 0;
}

.logo-footer{
	padding: 5px;
	margin: 5px;
	width: 400px;
}

form {
	padding: 20px;
	margin: 40px 0;
}

form label, form legend {
	display:block;
	font-size: 20px;
	margin: 0 0 10px;
}

.input-padrao {
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 50%;
}

.checkbox {
	margin: 20px 0;
}

.enviar {
	width:40%;
	padding: 15px 0;
	background: orange;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: 1s all;
	cursor: pointer;
}

.enviar:hover {
	background: darkorange;
	transform: scale(1.2);
}
